<h1>Te gustaría que trabajaramos juntos?</h1>

<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Ubicación</h3>
    <p>Huérfanos 1555. Santiago, Chile.</p>
    <h3>Fono</h3>
    <p>+56 9 99944656</p>
    <h3>Email</h3>
    <p><a href="mailto:san.torres@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.3451200243994!2d-70.66090878483863!3d-33.44031398077685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5af6ae5383b%3A0xc84714c402a6fb7d!2sHu%C3%A9rfanos+1555%2C+Santiago%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1sen!2scl!4v1519947674314" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  
</div>
